{# src/TH/CoreBundle/Resources/views/Default/base.html.twig #}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}thomas florentin{% endblock %}</title>

    <!-- MOBILE METAS & LINKS -->
    <meta name="HandheldFriendly" content="True">
      <meta name="MobileOptimized" content="320">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="apple-mobile-web-app-title" content="th">
      <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="thomas florentin  - RSS" href="http://thomasflorentin.net/feed/">

    <!--[if gte IE 9 ]>
      <meta name="msapplication-TileImage" content="">
      <meta name="msapplication-TileColor" content="#000000">
      <meta name="msapplication-tooltip" content="">
      <meta name="msapplication-navbutton-color" content="#000000">
      <meta name="msapplication-starturl" content="/">
      <meta name="msapplication-task" content="name=;action-uri=;icon-uri=" />
    <![endif]-->

    <!--[if (IE 7)|(IE 8)]>
      <script type="text/javascript" src="js/selectivizr-min.js"></script>
    <![endif]-->
    
    <!-- SEO -->
    <meta name="description" content="Designer & Développeur Web"/>
    <link rel="canonical" href="http://thomasflorentin.net" />
    <meta property='og:locale' content='fr_FR'/>
    <meta property='og:type' content='website'/>
    <meta property='og:title' content='th.'/>
    <meta property='og:url' content='http://thomasflorentin.net'/>
    <meta property='og:site_name' content='thomas florentin'/>
    <meta property='og:image' 
     content='???'/>

    <!-- STYLE LINKS -->
    {% block stylesheets %}
      <link rel="stylesheet" href="styles/base.css" />
    {% endblock %}

    <link rel="icon" type="image/png" href="img/favicon.png" />

    <!-- TYPEKIT -->
    <script type="text/javascript" src="//use.typekit.net/dcj6ces.js"></script>
    <script type="text/javascript">
      try{Typekit.load();}catch(e){}
    </script>

    <!-- SCRIPTS -->
    {% block headjavascripts %}
      <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    {% endblock %}    

  </head>
  <body>


    <!-- sticky menu -->
    {% block stickymenu %}
      {% include "THCoreBundle:default:stickymenu.html.twig" %}
    {% endblock %}    


    <!-- start CONTAINER -->
    <div id="container" class="wrap clearfix">
      {% block container %}

      {% endblock %}
    </div><!-- end div#container -->



    <!-- SCRIPTS -->
    {% block footerjavascripts %}
      <script type="text/javascript" src="lib/bjqs-1.3.min.js"></script>
      <script type="text/javascript" src="js/scripts.js"></script>
    {% endblock %}       

    <!-- GOOGLE ANATYLTICS -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38335418-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script><!-- /analytics script -->
  </body>
</html>
      
