<?php 
  date_default_timezone_set('UTC');
  $date = date('Y');
?>

  <footer class="footer clearfix">
    <div class="inner-footer">
      <p>Site internet composé en <a href="https://typekit.com/fonts/proxima-nova" target="_blank">Proxima Nova</a> et <a href="https://typekit.com/fonts/abril-text" target="_blank">Abril Text</a>.
      <br>
      Font Icons <a href="http://www.entypo.com/" target="_blank">Entypo par Daniel Bruce</a> sur <a href="http://fontastic.me/" target="_blank">Fontastic</a></p>
      <p>
      © thomas florentin, <?php echo $date; ?>
      </p>

    </div>
  </footer>